#about-container h2:first-child {
    /* prevent some strange behavior that pushes ng-view down 20px */
    margin-top: 0px;
    padding-top: 20px;
}

#about-profile-pic {
    float: left;
    height: 160px;
    width: 160px;
    margin-right: 20px;
}

/* extra small screens */
@media (max-width: 480px) {
    #about-profile-pic {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }
}
