#compose-container h2:first-child {
    /* prevent some strange behavior that pushes ng-view down 20px */
    margin-top: 0px;
    padding-top: 20px;
}

#compose-kinds-form {
    display: flex;
    justify-content: center;
}


#compose-kinds-container {
    /* for some reason this prevents 0 height while getting width of child */
    display: table-cell;  
}

#compose-kinds-container span {
    display: inline-block;
}

.compose-kinds-label {
    margin-bottom: 0px; /* for some reason there's margins at the bottom */
}

.compose-kinds-label > input{
    visibility: hidden; /* Makes radio button not-clickable */
    position: absolute; /* Remove radio button from document flow */
}

.compose-kinds-label > input + img{
    cursor:pointer;
    width: 86px;
    height: 86px;
    
    padding: 2px;
    border: 1px solid transparent;
}
.compose-kinds-label > input:checked + img{
    border: 1px solid red;
}

.compose-parts {
    margin-right: 50px;
}

.compose-parts, .compose-parts p, .compose-parts p input {
    display: inline;
}

#compose-results {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.compose-results-arrow input {
    display: block;
}

#compose-results-table td {
    height: 80px;
    width: 80px;
    text-align: center;
    font-size: 28px;
}

.compose-results-cell {
    border: 1px solid #e0e0e0;
    border-collapse: collapse;
}

#compose-character {
    text-align: center;
    margin-top: 20px;
}

#compose-character-inner {
    display: inline-block;
    overflow: hidden; /* Avoid 0 height due to floated elements */
}

#compose-character-hanzi {
    width: 300px;
    height: 300px;
    border: 1px solid #e0e0e0;

    font-size: 216px;
    display: flex;
    align-items: center;
    justify-content: center;

    float: left;
}

#compose-character-description {
    float: left;
    text-align: left;
    margin-left: 20px;
}

#compose-character-description h3:first-child {
    margin-top: 0px;
}

#compose-character-links {
    list-style-position: inside; /* Makes bullets appear inside the div */
}
