.decompose-row-height {
    display: flex;
    flex-wrap: wrap;
}

.decompose-row-height > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.decompose-details-container [class*='col-'] {
    padding-top: 15px;
    border-right: 1px solid #e0e0e0;

    text-align: center;
}

.decompose-details-container [class*='col-']:last-child {
    border-right: none;
}

.decompose-part-container {
    display: flex;
    justify-content: center;
}

.decompose-part-hanzi {
    width: 128px;
    height: 128px;
    border: 1px solid #e0e0e0;

    font-size: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.decompose-links-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.decompose-links-list {
    text-align: left;
    list-style-position: inside; /* Makes bullets appear inside div */      
} 

.decompose-xs-on {
    display: none;
}

#decompose-footnote {
    margin-top: 15px;
}

/* extra small screens */
@media (max-width: 480px) {
    .decompose-details-container [class*='col-'] {
        /* simulates col-12 */
        width: 100%;
    }

    .decompose-xs-on {
        /* only used for <hr> so know it's a block */
        display: block;
    }

    .decompose-xs-off {
        display: none;
    }
}
