.decompose-row-height {
    display: flex;
    flex-direction: row;
}

.decompose-detail-column {
    text-align: center;
}

.decompose-details-container .row:first-child {
    border-bottom: 1px solid #e0e0e0;
}

.decompose-details-container [class*='col-'] {
    padding-top: 15px;
    border-right: 1px solid #e0e0e0;
}

.decompose-details-container [class*='col-']:last-child {
    border-right: none;
}

.decompose-part-container {
    display: flex;
    justify-content: center;
}

.decompose-part-hanzi {
    width: 128px;
    height: 128px;
    border: 1px solid #e0e0e0;

    font-size: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#decompose-character-links {
    list-style-position: inside; /* Makes bullets appear inside the div */      
} 
