div[ng-controller="indexController"] {
    height: 100%;
}

#index-container {
    height: 100%;
    background: linear-gradient(90deg, #f6f6f6 50%, #2f2f2f 50%);
    text-align: center;
    
    
    overflow: hidden; /* Avoid 0 height due to floated elements */
}

#index-left {
    float: left;
    
    width: 50%;
    height: 100%;
    min-height: 250px;
    position: relative;
    
    color: #303030;
    background-color: #f5f5f5;
}
#index-right {
    float: right;
    
    width: 50%;
    height: 100%;
    min-height: 250px;
    position: relative;
    
    color: #f5f5f5;
    background-color: #303030;
}

#index-left-title {
    padding-right: 10px;
}
#index-right-title {
    padding-left: 10px;
}

#index-left-title, #index-right-title {
    position: absolute;
    width: 100%;
}
#index-left-content, #index-right-content {
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* extra small screens */
@media (max-width:480px) {
    #index-container .page {
        padding: 0px;
    }
    
    /* for some reason links suddenly have underlines */
    a:focus, a:hover {
        text-decoration: none;
    }
    
    #index-left, #index-right {
        float: none;
        
        width: 100%;
        height: 50%;
    }
    #index-left-title {
        padding-left: 10px;
    }
    #index-right-title {
        padding-right: 10px;
    }
    
    #index-left-title h3, #index-right-title h3 {
        font-size: 18px;
    }
    
    #index-left-content h1, #index-right-content h1 {
        font-size: 32px;
    }
}