* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

html, body {
    height: 100%;
}

body{
    /* Avoid navbar covering content */
    padding-top: 50px;
}

/* For some reason, bootstrap's navbar-right has -15 margin-right */
.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

.container {
    max-width: 1000px;
    height: 100%;
}

div.ng-scope {
    height: 100%;
}

/* Index page */
#index-container {
    height: 100%;
    
    /* Avoid 0 height due to floated elements */
    overflow: hidden;
}

#index-left {
    width: 50%;
    height: 100%;
    
    float: left;
    background-color: #f5f5f5;
}

#index-right {
    width: 50%;
    height: 100%;
    
    float: right;
    background-color: #303030;
    
}