<div id="about-container">
    <div class="page">
        <h2>radical</h2>
        <p>
            radical is a web application for exploring Chinese characters using graphical decompositions, and is based on the <a href="https://commons.wikimedia.org/wiki/Commons:Chinese_characters_decomposition">Chinese characters decomposition</a> project. Its main goal is to provide a fast and convenient means to explore the data provided there. 
            <br/>
            <br/>
            This project is not meant to be a dictionary. For dictionaries and other decomposition tools, I would recommend resources such as <a href="http://www.yellowbridge.com/" target="_blank">YellowBridge</a> and <a href="http://www.hanzicraft.com/" target="_blank">HanziCraft</a>. 
        </p>
        <hr>
        <h2>Code</h2>
        <p>
            radical is an open-source project and can be found on the creator's Github <a href="https://github.com/fang97j/radical">here</a>.
            <br/>
            <br/>
            This project was created using the following languages / technologies: HTML, CSS, JavaScript, vanilla and Jasny Bootstrap, AngularJS, Python, and Flask. 
            <br/>
            <br/>
            Input and feedback is greatly appreciated. For support, please contact -insert some email here-
        </p>
        <hr>
        <h2>About the creator</h2>
        <img id="about-profile-pic" src="/static/img/pic.png">
        <p>
            radical was written by John Fang, a college student majoring in computer science at the University of Texas at Austin. 
            <br/>
            <br/>
            He is also interested in learning Chinese and sometimes studies it in his free time. 
        </p>
    </div>
<div>
