<div id="about-container">
    <div class="page">
        <h2>radical</h2>
        <p>
            radical is a web application for exploring Chinese characters, focusing mainly on using graphical decompositions. The application is based on the <a href="https://commons.wikimedia.org/wiki/Commons:Chinese_characters_decomposition">Chinese characters decomposition</a> project, which is hosted on Wikimedia Commons.
        </p>
        
        <h2>Code</h2>
        <p>
            radical is an open-source project and can be found on the creator's Github <a href="https://github.com/fang97j/radical">here</a>.
            <br/>
            <br/>
            This project was created using the following languages / technologies: HTML, CSS, JavaScript, Bootstrap, AngularJS, Python, and Flask. 
        </p>
        
        
        <h2>About the creator</h2>
        <img id="about-profile-pic" src="/static/img/pic.png">
        <p>
            radical was written by John Fang, a college student majoring in computer science at the University of Texas at Austin. 
            <br/>
            <br/>
            He is also interested in learning Chinese and sometimes studies it in his free time. 
        </p>
    </div>
<div>
