<div ng-controller="composeController">
    <div id="compose-container">
        <div class="container">
            <h1>Compose</h1>
            <img src="/static/img/kind1.png">
            <img src="/static/img/kind2.png">
            <img src="/static/img/kind3.png">
            <img src="/static/img/kind4.png">
            <img src="/static/img/kind5.png">
            <img src="/static/img/kind6.png">
            <img src="/static/img/kind7.png">
            <img src="/static/img/kind8.png">
            <img src="/static/img/kind9.png">
            <img src="/static/img/kind10.png">
            <img src="/static/img/kind11.png">
            <p>Kind:</p>
            <div ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]">
              <input type="radio" name="kind" ng-model="$parent.kind" value="{{ i }}">{{ i }}<br>
            </div>

            <p>
              Enter part 1:
              <input type="text" placeholder="女" ng-model="part1"/>
            </p>
            <p>
              Enter part 2:
              <input type="text" placeholder="子" ng-model="part2"/>
            </p>
            <button ng-click="composeCharacters()">Submit</button>

            <p>Characters are {{ characters }}</p>
        </div>
    </div>
</div>
