<div ng-controller="composeController">
    <div id="compose-container">
        <div class="page">
            <h2>Select a template:</h2>
            <h4>{{ titles[kind] }}</h4>
            <form id="compose-kinds-form">
                <div id="compose-kinds-container">
                    <span
                         ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
                        <label class="compose-kinds-label">
                            <input type="radio" name="kind" 
                                   ng-change="compose(0, true)" 
                                   ng-model="$parent.kind" value="{{ i }}">
                            <img ng-src="{{ '/static/img/kind' + i + '.png' }}" 
                                 ng-attr-title="{{ $parent.titles[i] }}">
                        </label>
                    </span>
                </div>
            </form>
            
            <h2>Enter component(s):</h2>
            <div id="compose-parts-container">
                <div class="compose-parts">
                  <p>{{ part1Names[kind] }}:
                    <input type="text" placeholder="女" 
                           ng-change="compose(0)" ng-model="part1"/>
                  </p>
                </div>

                <div class="compose-parts" ng-show="hasPart2[kind]">
                  <p> {{ part2Names[kind] }}:
                    <input type="text" placeholder="子" 
                           ng-change="compose(0)" ng-model="part2"/>
                  </p>
                </div>
            </div>

            <hr/>

            <h2>Results: </h2>
            <h4>{{ getResultsMessage() }}</h4>
            <div id="compose-results" ng-show="tableMode">
                <div class="compose-results-arrow">
                    <input type="image" value="" 
                           ng-click="shiftLeft()"
                           ng-disabled="!canShiftLeft()"
                           ng-src="{{ getLeftImg() }}"
                           />
                </div>
                <table id="compose-results-table">
                    <tbody>
                        <tr ng-repeat="row in table">
                            <!-- "track by $index" for duplicate ""s -->
                            <td ng-repeat="char in row track by $index" 
                                ng-click="char == '' || 
                                      $parent.$parent.focus(char)"
                                ng-style="char == '' && {} ||
                                          { 'cursor': 'pointer' }"
                                class="compose-results-cell">
                              {{ char }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="compose-results-arrow">
                <input type="image" value="" ng-click="shiftRight()" 
                       ng-disabled="!canShiftRight()" 
                       ng-src="{{ getRightImg() }}"
                       />
                </div>
            </div>
            <div id="compose-character" ng_show="!tableMode">
                <div id="compose-character-inner">
                    <div id="compose-character-hanzi">
                        {{ focusedCharacter }}
                    </div>
                    <div id="compose-character-description">
                        <button id="compose-back-button" 
                                class="btn btn-default"
                                ng-click="unfocus()">
                            Go back
                        </button>
                        <button id="compose-decompose-button" 
                                class="btn btn-default"
                                ng-click="decompose()">
                            Decompose this
                        </button>
                        <h3>External links:</h3>
                        <ul id="compose-character-links">
                            <li>
                                <a ng-href="{{ getYB() }}" 
                                   target="_blank">YellowBridge</a>
                            </li>
                            <li>
                                <a ng-href="{{ getHC() }}" 
                                   target="_blank">HanziCraft</a>
                            </li>
                            <li>
                                <a ng-href="{{ getLINE() }}"
                                   target="_blank">LINE Dict</a>
                            </li>
                            <li>
                                <a ng-href="{{ getGoogle() }}"
                                   target="_blank">Google Translate</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
