<div ng-controller="indexController">
    <div id="index-container">
        <div class="container">
            <div id="index-left">
                <div id="index-left-title">
                    <h3>radical is a web app for exploring Hanzi</h3>
                </div>
                <div id="index-left-content">
                    <div>
                        <h1>compose</h1>
                        <h3>女 + 子 &#8594; 好</h3>
                    </div>
                </div>
            </div>
            
            <div id="index-right">
                <div id="index-right-title">
                    <h3>please select an option below to continue</h3>
                </div>
                <div id="index-right-content">
                    <div>
                        <h1>decompose</h1>
                        <h3>好 &#8594; 女 + 子</h3>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>