<!doctype html>
<html>
    <head>
        <!-- AngularJS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
        <script src="http://code.angularjs.org/1.5.3/angular-route.min.js"></script>

        <!-- My JS stuff -->
        <script src="/static/js/app.js"></script>
        <script src="/static/js/indexController.js"></script>
        <script src="/static/js/composeController.js"></script>
        <script src="/static/js/decomposeController.js"></script>

        
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
        <script src="/static/js/bootstrap.min.js"></script>

        <!-- Jasny Bootstrap -->
        <link rel="stylesheet" href="/static/css/jasny-bootstrap.min.css">
        <script src="/static/js/jasny-bootstrap.min.js"></script>
        
        <!-- My CSS stuff -->
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="/static/css/index.css" />
        <link rel="stylesheet" href="/static/css/compose.css" />
        <link rel="stylesheet" href="/static/css/about.css" />
        
        <!-- metadata -->
        <meta charset="UTF-8">
        
        <title>radical</title>
    </head>

    <body ng-app="app">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="page">
                <div class="navbar-header">
                    <a class="navbar-brand">radical</a>
                </div>

                <ul id="wide-view-navigation" class="nav navbar-nav navbar-right">
                    <li><a href="#/">home</a></li>
                    <li><a href="#/compose">compose</a></li>
                    <li><a href="#/decompose">decompose</a></li>
                    <li><a href="#/about">about</a></li>
                </ul>
            </div>
        </nav>

        <!-- where AngularJS inserts partial determined by its routing -->
        <div ng-view></div>
    </body>
</html>
